<html>
<head>
<script type="text/javascript" src="/assets/javascripts/timer.js">
</script>
</head>
<body onload="setHelpTime(); setInterval('updateTimer()', 1000 )">
<% @page_title = "HelpingStudent" -%>

  <div class="center">
    <h1 class="blue_white">
      <center>
        <table width="380">
          <tr>
            <td align="center" colspan="2">Helping Student</td>
          </tr>
          <tr>
		 	<div colspan=2>
	          <td colspan="1" align="center"><%= render("sessions/ta_view_button_b") %></td>
	          <td colspan="1" align="center"><%= render("sessions/logout_button") %></td>
	        </div>
          </tr>
        </table>
      </center>
    </h1>
    <%= flash[:notice] %>
    <p class="gray_blue_text">
	  You are helping <%= @next_student.username%> with chapter <%= @next_chapter%> problem <%= @next_problem%>.<br>
	 </p>
   <p class="gray_blue_sub_small">
      <span id="timer">&nbsp;</span>
   </p>
   <p>
   <%= render("tas/finish_helping_student_button") %></p>
  </div>
</body>
</html>