<% @page_title = "Home" -%>

<div class="main">
  <div class="center">
    <h1 class="blue_white">
      <center>
        <table width="380">
          <tr>
            <td align="center">Math Help Q</td>
          </tr>
          <tr>
            <td align="center"><%= render("sessions/logout_button") %></td>
          </tr>
        </table>
      </center>
    </h1>
    <h3 class="gray_blue_sub">Teacher's Assistant</h3>
    <%= flash[:notice] %>
    <p class="blue_black_b">
	  Welcome, <%= @user.username%>!<br>
	</p>
    
    <h4 class="gray_blue_sub">Current Help List</h4>
	<p>
	  <% @names.each_with_index do |n, index| %>
      <% if (index % 2) == 0 %>
        <div class="blue_black_bLeft">
      <% else %>
        <div class="tan_black_bLeft">
      <% end %>          
      <%= index + 1 %>&nbsp;&nbsp;&nbsp;<%= n %><br>
      </div>
      <% end %>
    </p>
    <br>
    <%= render("sessions/change_perspective_button") %><br>
  </div>
</div>
