<% @page_title = "Home" -%>

<div class="main">
  <div class="center">
    <%= render("sessions/change_and_logout") %>
    <div class="title">Math Help Q</div>
    <h3 class="gray_blue_sub">Teacher's Assistant</h3>
    <%= flash[:notice] %>
    
    <p class="blue_black_b">
      Welcome, <%= @user.username %>!<br>
    </p>
    
    <h3 class="gray_blue_sub">Current Help List</h3>
	<p>
	  <% if @names != [] %>
	    <% @names.each_with_index do |n, index| %>
          <% if (index % 2) == 0 %>
            <div class="blue_black_bLeft">
          <% else %>
            <div class="tan_black_bLeft">
          <% end %>          
          <%= index + 1 %>&nbsp;&nbsp;&nbsp;<%= n %><br>
          </div>
        <% end %>
      <% else %>
        <div class="blue_black_bLeft">&nbsp;&nbsp;&nbsp; None<br></div>
      <% end %>
    </p>
    <br>
    <% if @names != [] %>
      <%= render("tas/help_student_button") %><br>
    <% end %>
  </div>
</div>
