<% @page_title = "Change_Perspective" -%>

<div class="main">
  <div class="center">
    <h1 class="blue_white">
      <center>
        <table width="380">
          <tr>
            <td align="center">Change Perspective</td>
          </tr>
          <tr>
            <td align="center"><%= render("sessions/logout_button") %></td>
          </tr>
        </table>
      </center>
    </h1>
    <h3 class="gray_blue_sub">permission level</h3>
    <%= flash[:notice] %>
    
    <p class="blue_black_b">
      Choose a perspective you would like to view.
    </p>

	<center>
	  <table name="change_perspective" class="center">
	    <th colspan="3"></th>
	    <tr>
	      <td colspan="1" class="center"><%= render("admin_perspective_button") %></td>
	      <td colspan="1" class="center"><%= render("ta_perspective_button") %></td>
	      <td colspan="1" class="center"><%= render("student_perspective_button") %></td>
	    </tr>
	  </table>	
	</center>
  </div>
</div>
