<% @page_title = "Change_Perspective" -%>

<div class="main">
  <div class="center">
    <%= render("home_and_logout") %>
    <div class="title">Change Perspective</div>
    <%= render("display_privilege") %>
    
    <%= flash[:notice] %>
    
    <p class="directions">
      Choose a perspective you would like to view.
    </p>

	  <table name="change_perspective" class="center">
	    <% if Privilege::PRIVILEGES[@highest_privilege] >= Privilege::PRIVILEGES[:admin] %>
	        <tr><td><%= render("admin_perspective_button") %></td></tr>
      <% end %>
      <% if Privilege::PRIVILEGES[@highest_privilege] >= Privilege::PRIVILEGES[:ta] %>
	        <tr><td><%= render("ta_perspective_button") %></td></tr>
      <% end %>
      <tr><td><%= render("student_perspective_button") %></td></tr>
	  </table>
  </div>
</div>
