<% @page_title = "Admin_Home" -%>

<div class="main">
  <div class="center">
    <h1 class="blue_white">Math Help Queue</h1>
    <%= flash[:notice] %>
    <p class="blue_black_b">
      User Permissions	  
	</p>
	
	<center>
	  <table name="user_permissions" class="center">
	    <th>&nbsp;&nbsp; Username &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Administrator &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Teacher's Assistant &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Student &nbsp;&nbsp;</th>
	    <% @all_users.each do |user| %>
	      
	      <tr>
	        <td><%= user.username %></td>
	        <td><%= check_box_tag 'admin', '1', user.privileges.exists?(1), :disabled => false %></td>
	        <td><%= check_box_tag 'ta', '2', user.privileges.exists?(2), :disabled => false %></td>
	        <td><%= check_box_tag 'student', '3', user.privileges.exists?(3), :disabled => false %></td>
	      </tr>
	      
	    <% end %>
	  </table>
	</center>
	
	
    <%= render("logout_button") %>
  </div>
</div>
