<% @page_title = "Home" -%>

<div class="main">
  <div class="center">
    <%= render("change_and_logout") %>
    <div class="title">Math Help Q</div>
    <h3 class="gray_blue_sub">Student</h3>
    <%= flash[:notice] %>
    
    <p class="blue_black_b">
      Welcome, <%= @user.username %>!<br>
    </p>
	
    <%= render("students/get_help_button") %><br>
    <%= render("students/add_course_button") %><br>
  
    
  </div>
</div>
