<% @page_title = "Sign In" -%>
<div class= "main">
  <div class="center">
    <div class="title">Math Help Q</div>
    
    
    
    <% if flash[:notice] -%>
      <div class="red_white"><%= flash[:notice] %></div><br>
    <% end %>
    
    <%= form_tag(:action => :login_attempt, :method => :post) do %>
      <%= text_field_tag(:username, nil, :placeholder => 'NetId', :class => 'input_box') %><br>
      <%= password_field_tag(:password, nil, :placeholder => 'Password', :class => 'input_box') %><br><br>
      <%= submit_tag("Log In", :class => 'blue_white_b') %>
    <% end %>
  </div>
</div>

