<%= flash[:notice] %>
<div class="center">
  <h1 class="blue_white">
    <center>
      <table width="380">
        <tr>
          <td align="center" colspan="2">Add course</td>
        </tr>
        <tr>
          <div colspan=2>
	        <td colspan="1" align="center"><%= render("sessions/student_view_button_b") %></td>
	        <td colspan="1" align="center"><%= render("sessions/logout_button") %></td>
	      </div>
        </tr>
      </table>
    </center>
  </h1>
  <%= flash[:notice] %>
  
  <p class="gray_blue_text">
    Choose a course to add:
  </p>
  <p>
    <%= form_tag(:action => :add_course, :method => :post) do %>
      <%= select_tag(:course, options_from_collection_for_select(@all_courses, "id","name"), :class => 'blue_black_c') %>
	  &nbsp&nbsp
      <%= submit_tag("Add", :class => 'blue_white_b') %>
    <% end %>
  </p>
</div> 