<%= flash[:notice] %>
<div class="center">
  <h1 class="blue_white">
    <center>
      <table width="380">
        <tr>
          <td align="center" colspan="2">Add Course</td>
        </tr>
        <tr>
          <div colspan=2>
	        <td colspan="1" align="center"><%= render("sessions/home_button") %></td>
	        <td colspan="1" align="center"><%= render("sessions/logout_button") %></td>
	      </div>
        </tr>
      </table>
    </center>
  </h1>
  <h3 class="gray_blue_sub">Student</h3>
  <%= flash[:notice] %>
  
  <p>
	  <% if @my_courses != [] %>
	    <% @my_courses.each_with_index do |n, index| %>
          <% if (index % 2) == 0 %>
            <div class="blue_black_bLeft">
          <% else %>
            <div class="tan_black_bLeft">
          <% end %>          
          <%= index + 1 %>&nbsp;&nbsp;&nbsp;<%= n %><br>
          </div>
        <% end %>
      <% else %>
        <div class="blue_black_bLeft">&nbsp;&nbsp;&nbsp; None<br></div>
      <% end %>
    </p>

  <p class="blue_black_b">
    Choose a course to add:
  </p>
  
  <%= form_tag(:action => :add_course, :method => :post) do %>
    <%= select_tag(:course, options_from_collection_for_select(@all_courses, "id","name"), :class => 'blue_black_c') %>
    <%= submit_tag("Add", :class => 'blue_white_b') %>
  <% end %>
</div> 