<% @page_title = "CreateRequest" -%>

<div class="main">
  <div class="center">
    <h1 class="blue_white">
	<center>
	  <table width="380">
	    <tr>
		  <td align="center">Math Help Q</td>
		</tr>
		<tr>
		  <td align="center"><%= render("sessions/logout_button") %></td>
		</tr>
      </table>
	</center>
	</h1>
    <%= flash[:notice] %>
    <p class="blue_black_b">
    
      Which Problem?<br>
	</p>
	<%= form_tag(:action => :get_help, :method => :post) do %>
	<p>
	<%= text_field_tag("chapter", nil, placeholder: 'Chapter', :class => 'blue_black_c') %>
	<%= text_field_tag("problem", nil, placeholder: 'Problem', :class => 'blue_black_c') %>
	</p>
  	<%= submit_tag("Submit", :class => 'blue_white_b') %>
  	<% end %>
  </div>
</div>