<% @page_title = "Admin_Home" -%>

<div class="main">
  <div class="center">
<<<<<<< Updated upstream
    <h1 class="blue_white">
        <center>
          <table width="380">
            <tr>
                  <td>Math Help Q</td>
                  <td><%= render("logout_button") %></td>
                </tr>
      </table>
        </center>
        </h1>
    <h3 class="gray_blue_sub">Administrator</h3>
    <%= flash[:notice] %>
    <p class="blue_black_b">
    
      Welcome, <%= @user.username%>!<br>
        </p>
        <%= render("admin/edit_user_permissions_button") %><br>
=======
    <h1 class="blue_white">Math Help Q</h1>
    <h3 class="blue_white">Administrator</h3>
    <%= flash[:notice] %>
    <p class="blue_black_b">
    
      Welcome, <%= @user.username%>!<br><br>
      
      You have the following permissions:<br><br>
      
	  <% @user.privileges.order(id: :asc).each do |p| %>
	  <%= p.privilege_type %><br>
	  <% end %>
	  
	</p>
	<%= render("admin/edit_user_permissions") %><br>
    <%= render("sessions/logout_button") %>
>>>>>>> Stashed changes
  </div>
</div>
