<% @page_title = "Admin_Home" -%>

<div class="main">
  <div class="center">
    <%= render("sessions/change_and_logout") %>
    <div class="title">Math Help Q</div>
    <h3 class="gray_blue_sub">Administrator</h3>
    <%= flash[:notice] %>
    
    <p class="blue_black_b">
      Welcome, <%= @user.username %>!<br>
    </p>
    
    <%= render("sessions/change_perspective_button") %><br>
    <%= render("admin/manage_courses_button") %><br>
    <%= render("admin/edit_user_privileges_button") %><br>
  </div>
</div>
