<% @page_title = "Edit Permissions" -%>

<div class="main">
  <div class="center">
    <h1 class="blue_white">Edit User Permissions</h1>
    <h3 class="blue_white">Administrator</h3>
    <%= flash[:notice] %>
    <p class="blue_black_b">
      User Permissions	  
	</p>
	
	<%= render("admin/admin_home_button") %>
    <%= render("sessions/logout_button") %>
	
	<center>
	  <table name="user_permissions" class="center">
	    <th>&nbsp;&nbsp; Username &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Administrator &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Teacher's Assistant &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Student &nbsp;&nbsp;</th>
	    <th></th>
	    <% @all_users.each do |user| %>
	      
	      <tr>
	        <td><%= user.username %></td>
	        <td><%= check_box_tag 'admin', user.id, user.privileges.exists?(1), :disabled => user.username=='adam89fr', :class => 'edit_admin' %></td>
	        <td><%= check_box_tag 'ta', user.id, user.privileges.exists?(2), :disabled => false, :class => 'edit_ta' %></td>
	        <td><%= check_box_tag 'student', user.id, user.privileges.exists?(3), :disabled => true, :class => 'edit_student' %></td>
	        <td><%= content_tag :span, '', :id => "privilege_#{user.id}" %></td>
	      </tr>
	      
	    <% end %>
	  </table>
	</center>
	
	<%= render("admin/admin_home_button") %>
    <%= render("sessions/logout_button") %>
  </div>
</div>
