<% @page_title = "Edit Privileges" -%>

<div class="main">
  <div class="center">
    <%= render("sessions/home_and_logout") %>
    <div class="title">Math Help Q</div>
    <h3 class="gray_blue_sub">Administrator</h3>
    <%= flash[:notice] %>
    
    <p class="blue_black_b">
      User Privileges	  
    </p>
    
	  <table name="user_permissions" class="center">
	    <th class="center">Username</th>
	    <th class="center">Administrator</th>
	    <th class="center">Teacher's Assistant</th>
	    <th class="center">Student</th>
	    
	    <% @all_users.each do |user| %>
	      <% if user.username != "adam89fr" %>
	        <tr>
	          <td><%= user.username %></td>
	          <td><%= check_box_tag 'admin', user.id, user.privileges.exists?(1), :disabled => false, :class => 'edit_admin' %></td>
	          <td><%= check_box_tag 'ta', user.id, user.privileges.exists?(2), :disabled => false, :class => 'edit_ta' %></td>
	          <td><%= check_box_tag 'student', user.id, user.privileges.exists?(3), :disabled => true, :class => 'edit_student' %></td>
	          <td><%= content_tag :span, '', :id => "privilege_#{user.id}" %></td>
	        </tr>
	      <% end %>  
	    <% end %>
	  </table>
  </div>
</div>
