<% @page_title = "Manage Courses" -%>

<script>
$( document ).ready(function() {
  console.log( "ready!" );
  $("input[value='-']").addClass("mono_font_sm");
  $("input[value='+']").addClass("mono_font");
});
</script>

  <div class="center">
    <h1 class="blue_white">
    <center>
      <table width="380">
        <tr>
          <td align="center" colspan="2">Manage Courses</td>
        </tr>
        <tr>
          <div colspan=2>
	        <td colspan="1" align="center"><%= render("sessions/admin_view_button_b") %></td>
	        <td colspan="1" align="center"><%= render("sessions/logout_button") %></td>
	      </div>
        </tr>
      </table>
    </center>
  </h1>
    <%= flash[:notice] %>
    
    <p class="gray_blue_text">
      <% if @all_courses.count == 1 %>
        There is currently 1 course
      <% else %>
        There are currently <%= @all_courses.count %> courses
      <% end %>
      in the system.<br><br>
      Add or delete a course below.
	</p>
	
	<center>
	  <table name="existing_courses" class="center">
	    <th></th>
	    <th>&nbsp;&nbsp; Title &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Level &nbsp;&nbsp;</th>
	    <th>&nbsp;&nbsp; Discipline &nbsp;&nbsp;</th>
	    <th></th>
	    
	    <%= form_tag("add_course", method: "post") do %>
	      <tr>
	        <td></td>
	        <td>&nbsp;&nbsp; <%= text_field(:new_course, :new_title, :required => true) %> &nbsp;&nbsp;</td>
	        <td>&nbsp;&nbsp; <%= number_field(:new_course, :new_level, :min => 0, :required => true) %> &nbsp;&nbsp;</td>
	        <td>&nbsp;&nbsp; <%= text_field(:new_course, :new_discipline, :required => true) %> &nbsp;&nbsp;</td>
	        <td><input name="+" type="submit" value="+"/></td>
	      </tr>
	    <% end %>
	    
	    <% @all_courses.each do |c| %>
	      <%= form_tag("delete_course", method: "post") do %>
	        <tr>
	          <td class="hide"><%= text_field(:c, :cid, :value => c.id, :size => 1) %></td>
	          <td><%= c.title %></td>
	          <td><%= c.number %></td>
	          <td><%= c.discipline %></td>
	          <td><input name="-" type="submit" value="-"/></td>
	        </tr>
	      <% end %>
	    <% end %>
	  </table>
	</center>
	
  </div>
